.container {
    background-color: gray;
    border-radius: 10px;
    height: 400px;
    width: 700px;
    text-align: center;
    position: relative;
    top: 100px;
}

.container h2 {
    color: white;
    text-decoration: underline;
    position: relative;
    top: 20px;
    font-weight: lighter;
    font-size: 50px;
}

.second {
    width: 300px;
    margin-left: 27%;
    margin-top: 20%;
}

button {
    border: none;
    border-radius: 5px;
    font-size: 25px;
}

.input {
    text-align: center;
    height: 50px;
    border: none;
    margin: 1px;
    border-radius: 5px;
}

.zero {
    margin-left: 25%;
    position: relative;
    top: 70px;
}